# Caffe
*.caffemodel filter=lfs diff=lfs merge=lfs -text

# Tensorflow
*.pb filter=lfs diff=lfs merge=lfs -text
*.pbtxt filter=lfs diff=lfs merge=lfs -text

# Torch
*.t7 filter=lfs diff=lfs merge=lfs -text
*.net filter=lfs diff=lfs merge=lfs -text

# Darknet
*.weights filter=lfs diff=lfs merge=lfs -text

# ONNX
*.onnx filter=lfs diff=lfs merge=lfs -text

# Images
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text

